@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box; 
}

.nav-container {
    padding: 20px;
    background: linear-gradient(180deg, #000000 36.19%, rgba(0, 0, 0, 0) 100%);
    min-width: 100%;
    margin: -12px;
    padding-top: 32px;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.background-img {
    min-height: 100vh;
    background-image: url("./../images/jungle-background-forest.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav-links {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.buy-now {
    height: 51px;
    opacity: 1;
    padding-top: 14px;
    padding-right: 32px;
    padding-bottom: 14px;
    padding-left: 32px;
    gap: 10px;
    border-radius: 36px;
    background-color: rgba(255, 194, 10, 1);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    margin-left: auto;
    border: none;
}
button{
    padding: top 25px; ;
}

.icon-flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.flex-box {
    max-width: 508px;
    height: 24px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 46px;
    align-items: center;
    margin-left: auto;
}

.button-box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
}

.col-12{
    width: 100%;
    padding: 12px;
}
.col-10{
    width: 83.33%;
    padding: 12px;
}
.justify-center{
    justify-content: center;
}
.container {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.small-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.color {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(59, 148, 94, 1)
}

.para {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
}

.text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.icon {
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: auto;
}

.gorilla-img {
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100%;
    width: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.732);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
}

.side-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
}

.side-flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.side-icon-flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.close-icon {
    text-align: right;
    padding: 26px;
    padding-right: 18px;
}

.side-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.menu-icon {
    display: none;
}
.card{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.01) 85.54%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(6px);
    padding: 30px 12px;
}
@media (min-width:991.98px) {
    .col-lg-7{
       width: 58.8%;
       padding: 12px;
    } 
    .col-lg-5{
        width: 41.2%;
        padding: 12px;
    }  
}
@media (max-width:992px) {
    .hide {
        display: none;
    }

    .menu-icon {
        display: flex
    }

    .col-lg-12 {
        width: 100%;
        padding: 12px;
    }

    .gorilla-img {
        width: 100%;
    }
}

@media (max-width:576px) {
    .heading {
        font-size: 36px;
    }

    .size {
        font-size: 36px;
    }
}